<h1>
  {{title}}
</h1>

<a [routerLink]="['/lesson1']">lesson1</a>
<a [routerLink]="['/lesson2']">lesson2</a>
<a [routerLink]="['/lesson3']">lesson3</a>
<a [routerLink]="['/lesson4']">lesson4</a>
<a [routerLink]="['/lesson5']">lesson5</a>
<a [routerLink]="['/lesson6']">lesson6</a>
<a [routerLink]="['/lesson7']">lesson7</a>
<a [routerLink]="['/lesson8']">lesson8</a>
<a [routerLink]="['/lesson9']">lesson9</a>
<a [routerLink]="['/lesson10']">lesson10</a>
<a [routerLink]="['/lesson11']">lesson11</a>
<br>

<router-outlet></router-outlet>
<!--<app-lesson6></app-lesson6>-->
<!--<app-test></app-test>-->
